<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/script.js"></script>
</head>
<body>

<div th:fragment="admin-nav">
    <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
         style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
        <a href="javascript:void(0)" onclick="closeNav()"
           class="w3-bar-item w3-button">Menu</a>
        <a href="/" onclick="openNav()" class="w3-bar-item w3-button">Index</a>
        <a href="/admin/films" onclick="openNav()" class="w3-bar-item w3-button">Films</a>
        <a href="/admin" onclick="closeNav()" class="w3-bar-item w3-button">Users</a>
        <a href="/admin/addFilm" onclick="closeNav()" class="w3-bar-item w3-button">Add film</a>
    </nav>
    <div class="w3-top">
        <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
            <div class="w3-button w3-padding-16 w3-left" onclick="openNav()">☰</div>
            <div class="w3-center w3-padding-16">Admin panel</div>
        </div>
    </div>
</div>


<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <table class="w3-table">
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Blocked?</th>
        </tr>
        <div th:each="user : ${users}">
            <tr class="animated fadeInUp">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td>
                    <form action="/admin/changeUserStatus/" method="post">
                        <button class="w3-btn" th:text="${user.blocked ? 'UnBlock' : 'Block'}" th:class="${user.blocked ? 'w3-green' : 'w3-red'}">

                        </button>
                        <input type="number" style="display: none;" name="id" th:value="${user.id}">
                    </form>
                </td>
            </tr>
        </div>
    </table>


</div>

</body>
</html>